.application-view .application-title {
    margin: 20px 0;
    font-size: 30px;   
}
#app .rule-link {
    margin-left: 10px;
    color: #4a4a4a;
}
.application-view .file-cta,.application-view .file-name {
    height: 3rem;
}
.application-view .file-name  {
    line-height: 2.3rem;
}
.application-view .application-page {
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: white;
}
#app .download-link-view {
    margin-bottom: 20px;
}
.application-view .application-ctx-text {
    margin-top: 10px;
}
.application-view .application-ctx ul,.application-view .application-ctx ol {
    padding: inherit;
    list-style: inherit;
}
.application-view .application-ctx p {
    margin-bottom: 20px;
}
.application-view .application-ctx {
    /* padding: 0 20px; */
    margin-bottom: 50px;
}
.application-view .application-step-item {
    position: relative;
    height: 80px;
}
.application-view .application-step-icon {
    position: relative;
    width: 60px;
}
.application-view .application-step-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    width: 50px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../public//images/application_icon_1.png);
}
.application-view .application-step-item::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: 6px;
    content: '';
    background-color: #FFF2E5;
}
.application-view .application-step-item-active::before {
    background-color: #FBE7EA;
}
.application-view .application-step-item-number {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 24px;
    border-radius: 100%;
    background-color: #FF8300;
}
.application-view .application-step-item-number::before {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 70px;
    height: 70px;
    content: '';
    z-index: -1;
    border-radius: 100%;
    background-color: #FFF2E5;
}
.application-step-item-active .application-step-item-number {
    background-color: #D81734;
}
.application-step-item-active .application-step-item-number::before {
    background-color: #FBE7EA;
}
.application-step-view {
    margin-top: 70px;
    margin-bottom: 100px;
}
.application-view .application-step-text {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #242C32;
}
.application-view .form-view {
    padding: 0 20px;
}
.application-view .form-label {
    margin-top: 30px;
}

.application-view .button-view {
    margin-top: 80px;
    padding-bottom: 30px;
}
.application-view .mx-input-append {
    right: 8px;
}
.upload-button {
    margin-top: 20px;
}

label.bui-checkbox-label input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  
label.bui-checkbox-label .bui-checkbox {
display: inline-block;
position: relative;
width: 20px;
height: 20px;
background: #FFFFFF;
border: 1px solid #979797;
border-radius: 2px;
vertical-align: -4px;
}

label.bui-checkbox-label input:checked + .bui-checkbox:after {
color: #FFFFFF;
font-family: iconfont;
content: "\e600";
width: 20px;
height: 20px;
font-size: 14px;
line-height: 20px;
position: absolute;
top: 0px;
left: 0;
}

label.bui-checkbox-label input:checked + .bui-checkbox {
background: #D81734;
border: 1px solid #D81734;
}

label.bui-checkbox-label input:disabled + .bui-checkbox {
background-color: #e8e8e8;
border: solid 1px #979797;
}

label.bui-checkbox-label input:disabled:checked + .bui-checkbox:after {
color: #c1c1c1;
}

label.bui-checkbox-label.bui-checkbox-anim .bui-checkbox {
-webkit-transition: background-color ease-out .3s;
transition: background-color ease-out .3s;
}
@font-face {
font-family: 'iconfont';  /* project id 654068 */
src: url('../../public/font/font_654068_a978jt0cq5swnrk9.eot');
src: url('../../public/font/font_654068_a978jt0cq5swnrk9.eot?#iefix') format('embedded-opentype'),
url('../../public/font/font_654068_a978jt0cq5swnrk9.woff') format('woff'),
url('../../public/font/font_654068_a978jt0cq5swnrk9.ttf') format('truetype'),
url('../../public/font/font_654068_a978jt0cq5swnrk9.svg#iconfont') format('svg');
}

.iconfont {
display: inline-block;
font-family: 'iconfont';
font-style: normal;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
-webkit-text-stroke-width: 0.2px;
}
